<h1>client form</h1>

<%= form_with model: @client do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </div>


  <div>
    <%= form.label :phone %><br>
    <%= form.text_field :phone %>
  </div>

  
  <div>
    <%= form.label :address %><br>
    <%= form.text_area:address %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
